@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: #ffc905;
}

.navbar a{
    color: black;
}

.navbar a:hover{
    color: black;
}

.dropBtn{
    margin: auto;
    width: auto;
    padding: 20px;
}

.laptop_view{
    padding:3px;
    text-align: center;

}

.img-thumbnail{

    height: 30vh;
    width: auto;
    padding:3px;

}

body
{
	/* background-color:#5fcf80; */
}
#body_header
{

	width:auto;
	margin:0px auto;
	text-align:center;
	font-size:25px;
}
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #e8eeef;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"]
  
  {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }

    form {
      max-width: 480px;
    }
  
  .body_header {
      padding: 20px !important;
      
  }

  .about_header{
    color:black;
    font-size: 2cm;
    font-family: 'Rubik Glitch' ;
    text-align: center;
    
  }
  .carousel slide1{
    width: 100%;
    height: 2cm;
  }
 
  .footer{
    background-color: black;
    color: white;
    padding-top: 0.5cm;
    width: 100%;
   
    
   
  }

  /* about */
  .about{
  
    color: black;
    font-size: large;
  }
  .carousel slide{
    
  }

  .p3{
    align-content: space-around ;
    text-align: right;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button_about {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
 /* Service */
  .p1{
    text-align: center;
    font-size: 0.7cm;
    padding-top: 30px;
  }
  .service_h1{
    padding: 20px;
    color: #222171;
  }
  .service_img2{
    
    padding: 10px;
    padding-bottom: 20px;
    height: 3cm;
    width: 5cm;
  }
  .p2{
    text-align: left;
    padding: 20px;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 20%;
    padding: 5px;
  }
  .heading-5{
    padding: 2cm;
    
    font-size: 20px;
  }

/* Contact */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 0px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container1{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.card-body {
  text-align: justify;
}

